In [1]:
for i in range (5):
    print(i)

0
1
2
3
4

In [45]:
columns = ["Name", "Age", "Gender","Country","Income"]

print("Column Indexes:")
for i in range(len(columns)):
    print("Column", i+1, columns[i])

Column Indexes:
Column 1 Name
Column 2 Age
Column 3 Gender
Column 4 Country
Column 5 Income

In [7]:
prices = [2.50, 3.00, 2.75, 3.50, 3.25]
print("Original prices:", prices)

# create an empty new list
gst_prices = []

# apply %6 GST on each price & adds the value to the new list
for price in prices:
    updated_price = price * 1.06
    gst_prices.append(updated_price)

# print new list
print("Prices with 6% GST:", gst_prices)

Original prices: [2.5, 3.0, 2.75, 3.5, 3.25]
Prices with 6% GST: [2.6500000000000004, 3.18, 2.915, 3.71, 3.4450000000000003]

In [10]:
sales = [150, 200, 175, 300, 250]

# loop each sale with a dollor sign
for sale in sales:
    print("$", sale) # or print("$" + str(sale))

$ 150
$ 200
$ 175
$ 300
$ 250

In [40]:
# 0 °C = 32 °F
celcius_list = [28, 30, 34, 26, 38]
print ("celcius_list:", celcius_list)
fahrenheit_list = []

#loop, convert, append and print
for celcius in celcius_list:
    fahrenheit = (celcius *9/5) + 32
    fahrenheit_list.append(fahrenheit)

print ("fahrenheit_list:",fahrenheit_list)

#print hot day
descriptions = []

for fahrenheit in fahrenheit_list:
    if fahrenheit > 95:
        description = str(fahrenheit) + ": hot day!"
        descriptions.append(description)
    else: 
        description = str(fahrenheit) + ": normal day"
        descriptions.append(description)

print ("description:", descriptions)

#find average value
average = sum(fahrenheit_list)/len(fahrenheit_list)
print("average:",average)

celcius_list: [28, 30, 34, 26, 38]
fahrenheit_list: [82.4, 86.0, 93.2, 78.8, 100.4]
description: ['82.4: normal day', '86.0: normal day', '93.2: normal day', '78.8: normal day', '100.4: hot day!']
average: 88.16

In [28]:
# 0 °C = + 273.15 K
celcius_list = [28, 30, 34, 26]
print ("celcius_list:", celcius_list)
Kelvin_list = []

#loop, convert, append and print
for celcius in celcius_list:
    Kelvin = float(celcius) + 273.15
    Kelvin_list.append(Kelvin)

print ("Kelvin_list:",Kelvin_list)

#find average value
average = sum(Kelvin_list)/len(Kelvin_list)
print("average:",average)

celcius_list: [28, 30, 34, 26]
Kelvin_list: [301.15, 303.15, 307.15, 299.15]
average: 302.65

In [41]:
for i in range(3):
    print(i+1, "malaysia")

1 malaysia
2 malaysia
3 malaysia

In [42]:
for i in range(3,6,2):
    print(i+1, "malaysia")

4 malaysia
6 malaysia

In [89]:
#list comprehensive
result = [i for i in range(5)]
print(result)

[0, 1, 2, 3, 4]

In [90]:
result = [i*2 for i in range(5)]
print(result)

[0, 2, 4, 6, 8]

In [93]:
#list comprehensive
prices = [2.3, 4.3, 6.7]
after_gst = [i*1.06 for price in prices]
print(after_gst)

[6.36, 6.36, 6.36]

In [83]:
#same as below while loop
x=3 #start
y=7 #digit after the last number
# z=1 #step

for i in range(x, y):
    print(i)

3
4
5
6

In [82]:
#same as below for loop
num=3 #start

while (num < 7): #5=digit after the last number
    num=num*2 # step
    print(num)

6
12