In [4]:
product_sold = ["tea", "coffee", "ice cream", "cake", "juice"]
print(product_sold)

['tea', 'coffee', 'ice cream', 'cake', 'juice']

In [5]:
numbers = [10, 20, 30, 40, 50]

print(max(numbers))
print(min(numbers))
print(sum(numbers))
mean = sum(numbers)/len(numbers)
print(mean)

50
10
150
30.0

In [11]:
rating = [1, 2, 3, 5, 3, 2, 3 , 5, 5, 3]
print("Total customer:", len(rating))
print("Average:", sum(rating)/len(rating))

Total customer: 10
Average: 3.2